

.body { 
	background: url('images/mic.jpeg') repeat 5% 5%;
}
.midground {
	background: url('images/stars.jpg') repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 997;
}
.foreground {
	background: url('images/geese.png') repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 998;
}